*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
    /* overflow-x:hidden; */
}
body{
    color:white;
        overflow-x:hidden;
}
.navbar{
    position: fixed;
    height: 70px;
    width: 100vw;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #844689;
    color: white;
    z-index: 1000;
}
.nav-login{
    background-color: white;
    color: #844689;
    font-weight: 700;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.nav-logo{
    font-weight: 800;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.hero1{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    flex-direction: column;
    /* background-color: aqua; */
}
.h1{
    font-size: 30px;
    font-weight: bold;
}
.t2{
    color: #d65e7c;
}
.h1-btn{
    font-size: 24px;
    font-weight: semi-bold;
    margin-top: 40px;
    border: none;
    padding: 15px 25px;
    border-radius: 20px;
    color: white;
    background-color: #533a71;
}
.h11{
    position:absolute;
    display: hidden;
    left: -27px;
    top:13vh;
    z-index: 1;
}
.h12{
    position:absolute;
    display: hidden;
    right: -50vw;
    top:-27vh;
    z-index: 2;
}
.h13{
    position:absolute;
    display: hidden;
    z-index: 3;
    top: -108.5vh;
}
.hero2{
    height: 1797px;
    width: 100vw;
    background-image: url(assets/Group\ 102671.png);
    position: relative;
    z-index: 9;
}
.purple{

    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 27px;
    justify-content: center;
    align-items: center;
}
.black{
    background-color: black;
    height: 421px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap:27px ;
    justify-content: center;
    align-items: center;
}
.blk-logos{
    display: flex;
    gap: 20px;
}
.footer{
    height: 60px;
    width: 100vw;
    text-align: center;
    align-content: center;
    background-color: #533a71;
}       















































































































/* mahima*/